
body{

    color: #0B486B; 
    box-sizing: border-box;
   
  
}


nav i{
    color: #79BD9A;
}
h1{
 
   font-weight: bold;
   font-size: 1.8rem;
 
    
}
h2{
    font-weight: 400;
    font-size: 1.3rem;
}
h3{
    font-weight: bold;
    font-size: 1.0rem; 
   
}
h4{
    
    font-size: 0.9rem;
}


#secao-download-principal{
    padding: 12% 0;
   
}
.infos-download-principal{
    padding: 12% 0;   
}
.grupo-botoes-download{
    padding: 2%;
    
}

.background-verde-claro{
    background-color: #79BD9A !important;
}


footer{
    background-color: rgb(34, 101, 139)!important;
}

nav{
   
    padding: 0.5% 1% !important;
    font-size: 1.0em;
   
}
.fa-feather{
    font-size: 23px !important;
}


li{
    padding:1px;
}



#secao-caracteristicas{
    background-color: #eeeeee !important;
    padding: 5%;

   
}
#secao-caracteristicas i{
   color: #3B8686;
        
   
}




#secao-video
{
    background-color:#eeeeee !important;
}

#secao-comentarios{
    background-color: #3B8686;
}
#secao-comentarios,#secao-video{
    padding:7% 0;
   
}

.background-verde{
    background-color: #3B8686 !important;
}
.botao-download {
    background-color: transparent !important;    
	font-size: 1.0rem;    
    font-weight: lighter !important;
	color: #fff !important;
	border: none;
    border-radius: 0.5rem;
    border: 2px solid white;
    width:10rem;
    height: 3.2rem;
    margin: 5px auto;
    padding: 1%, 2%, 1%, 2%; 
}

.botao-download a{
    text-decoration: none;
    color: #fff ;
 
   
}
.botao-download:hover
{   
    background-color: white !important;  
    
}
.botao-download a:hover{
    color: #fff;
    
}
.botao-download:hover a
{   
    color: #0B486B !important;  
    
}
.botao-download-secundario{
    background-color: #79BD9A !important;  
}



.botao-download-secundario:hover {
    background-color: #3B8686 !important;  
}


section #carouselCaracteristicas .carousel-indicators li
{
    cursor: pointer;
    padding: 1.5%;
    border-radius: 10px !important;
    width:1%;
    height: 1%;
    border: 1px solid  #79BD9A;
    background-color:transparent;
}
section #carouselCaracteristicas .carousel-indicators .active
{
    background-color: #3B8686;
    
}

#carouselComentarios{
    height: 250px;
}
#carouselComentarios .carousel-indicators li{
    cursor: pointer;  
    border-radius: 50px !important;
    width:10px;
    height: 10px;
    border: 1px solid #fff;
    background-color:transparent !important;
    
}
#carouselComentarios .carousel-indicators .active{   
    background-color:#fff !important;
}

.seta {
    color: black;
    font-size: 2.2rem;
    margin: 0;
  
   

}


#secao-caracteristicas .carousel-item{
    margin-bottom: 50px;
}
#secao-comentarios .carousel-item{
    padding-top: 1%;
    padding-bottom: 4%;   
 
    margin-bottom: 30px;
}


div .texto-por-que-usar{
   display: flex !important;
   flex-flow: column wrap !important;
   justify-content: center !important;
}

.parallax {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/212323/pexels-photo-212323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") !important;

    /* Set a specific height */
  

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#redes-sociais{
    font-size: 2.0em;
}

#redes-sociais i:hover{
    color:#3B8686;
    cursor: pointer;
}

#secao-contato .container{
    padding: 4% 0;
}

.fadein{
    opacity: 0;
}

.texto-por-que-usar a {
    color: #22658B;
}
.texto-por-que-usar .nav-pills .nav-link.active, .nav-pills .show >.nav-link {
    color: #fff;
    background-color: #3B8686;
}


.img-por-que-usar img{

   margin-left: auto !important;
    margin-right: auto !important;
   height: 60vh !important;
}
.tab-beneficios-resultados{  
  
    height: 350px !important;   

     
    
}

.img-por-que-usar, .texto-por-que-usar {
   padding: 70px 10% !important;
  
}

@media screen and (max-width: 1200px) {
    html * {
      font-size: 20px ;           
     }
     #secao-caracteristicas section{
         display: block;
     }

 }



@media screen and (max-width: 800px) {
    html * {
      font-size: 20px ;      
      
     }
   

  
 }


@media screen and (max-width: 375px) {
    html * {
      font-size: 18px  ;      
   
     }  
 }

 
@media screen and (max-width: 320px) {
    html * {
      font-size: 15px;      
   
     }
  
 
 }